@font-face {
    font-family: 'minerva-italic';
    src: url('/assets/fonts/MinervaModern-Italic.ttf');
}

@font-face {
    font-family: 'montserrat';
    src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf');
}

:root {
    --white: #FFFFFF;
    --black: #1f1f1f;
    --yellow: #FFBF69;
    --green: #00A896;
    --navy: #1C2541;
}

/* Element Styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;   /* 1rem becomes = 10px */
    width: 100vw;
}

body {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--white);
    font-family: 'monserrat', 'Noto Sans', sans-serif;
    line-height: 2rem
}

h1 {
    font-family: 'minerva-italic', 'Noto Sans', sans-serif;
    font-size: xx-large;
}

h2{
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: large;
}

.fab {
    color: var(--yellow);
}